// Global 
$color-2: #273c75;
$color-1: #fbc531;
$color-light: #fff;
$font-text: 'Open Sans', sans-serif;
$font-header: 'Raleway', sans-serif; 

//Global


.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.splash {
    height: 70vh;
    position: relative;
    background-image: src('C:\Users\Danciak\Desktop\Kodilla\moduł 4\zadanie\images\1.png');
    .menu {
        list-style: square;
    }
    li {
        display: inline;
        text-decoration: none;
    }
} 


